
<div class="page-header">
    <h1>Organization Dashboard</h1>
</div>
            
<div ng-show="isLoggedIn()" ng-repeat="task in tasks">
    <span style="font-size:20px; margin-left:10px">
        <span ng-show="task.name">
            <a href="#/tasks/{{task._id}}">{{task.name}}</a>
        </span>
                    
    </span>
</div>

<form ng-submit="addTask()" ng-show="isLoggedIn()" style="margin-top:30px;">
                <h3>Add a new Task</h3>
                        
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" ng-model="name"></input>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Description" ng-model="desc"></input>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Hours" ng-model="hours"></input>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
</form>