<div class="page-header" ng-show="isLoggedIn()">
                <h3>
                    <span ng-show="task.name">
                        Name: {{task.name}}
                    </span>
                    <br>
                    <span ng-show="task.description">
                        Description: {{task.description}}
                    </span>
                    <br>
                    <span ng-show="task.hours">
                        Hours: {{task.hours}}
                    </span>
                    <br>
                    <span ng-show="task.organization">
                        Creator: {{orgname}}
                    </span>
                </h3>
                <button type="button" class="btn btn-success">Save</button>
                <form ng-submit="deleteTask()">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
</div>