<div class="page-header" ng-show="isLoggedIn()">
                <h3>
                    <span ng-show="task.name">
                        Name: {{task.name}}
                    </span>
                    <br>
                    <span ng-show="task.description">
                        Description: {{task.description}}
                    </span>
                    <br>
                    <span ng-show="task.hours">
                        Hours: {{task.hours}}
                    </span>
                    <br>
                    <span ng-show="task.organization">
                        Creator: {{orgname}}
                    </span>
                </h3>
                
                <div class="row">
                    <div class="col-sm-6">
                        <form ng-submit="saveTask()">
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form ng-submit="deleteTask()">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
</div>